:root {
    --background-black: #141414;
    --color-main: #C075DB;
    --color-light: #FFFFFF;
    --color-dark: #2b2b2b;
}

*{
    padding: 0;
    margin: 0;
}

.wrap-container-nav {
    display: flex;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 38px;
    padding: 1rem;
    height: 7vh;
    backdrop-filter: blur(24px);      /* Increase this value for more blur */
    -webkit-backdrop-filter: blur(24px); 
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-left {
    flex: 15%;
    background-color: red;
    display: flex;
    justify-content: left;
    align-items: start;
}

.navbar-right {
    flex: 15%;
    background-color: violet;
}

.navbar-main {
    flex: 70%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 60px;
    /* Remove width: 400px; */
    background-color: #007aff;
    font-size: 20px;
    border-radius: 38px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-nav {
    fill: aliceblue;
    height: 50px;
    width: 50px;
}

.navbar-main li {
    height: 100%;
    display: flex;
}

.nav-lists {
    position: relative;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s;
    border-radius: 28px;
}

.nav-lists::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #007aff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-lists:hover::after {
    transform: scaleX(1);
    /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white; */
}