/* Navbar component specific styles */
.wrap-container-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    height: 7vh;
}

.navbar-main {
    display: flex;
    width: auto;
    gap: 50px;
    align-items: stretch;
    justify-content: space-evenly;
    /* background-color: var(--color-main); */
    height: 60px;
    font-size: 20px;
    border-radius: 38px;
    padding-left: 20px;
    padding-right: 20px;
}


.logo-nav {
    fill: aliceblue;
    height: 50px;
    width: 50px;
}

.navbar-main li {
    position: relative; /* Needed for absolute positioning of ::after */
    height: 100%;
    align-items: center;
    display: flex;
}

.navbar-main li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-main);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    border-radius: 1px;
}

.navbar-main li:hover::after,
.navbar-main li:focus-within::after,
.navbar-main li:active::after {
    transform: scaleX(1);
}

.nav-lists {
    position: relative;
    color: var(--color-light);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s;
    border-radius: 28px;
}

.nav-lists:hover,
.nav-lists:focus,
.nav-lists:active {
    text-shadow:
        0 0 8px var(--color-main),
        0 0 16px var(--color-main),
        0 0 24px var(--color-main);
    color: var(--color-main);
    outline: none;
}

/* Glow effect for the icon when the link is hovered, focused, or active */
.navbar-main li:hover svg,
.navbar-main li:focus-within svg,
.navbar-main li:active svg {
    filter: drop-shadow(0 0 8px var(--color-main))
            drop-shadow(0 0 16px var(--color-main))
            drop-shadow(0 0 24px var(--color-main));
    transition: filter 0.3s;
    color: var(--color-main);
}