@import "tailwindcss";

:root {
    --background-black: #141414;
    --color-main: #C075DB;
    --color-light: #FFFFFF;
    --color-dark: #2b2b2b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--background-black);
    overflow-x: hidden;
    overflow-y: auto;
}

.snap-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
.snap-container, .main-section {
  position: relative;
  z-index: 1;
}

.snap-section {
  flex-shrink: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

.main-section{
    height: 100%;
    width: 100%;
}